.brand-link,
.brand-link:hover {
	color: white;
	text-decoration: none;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: var(--light-blue) !important;
}
/* .nav-link:hover,
.nav-link.active:hover {
	color: var(--light-blue);
} */
.gg-bg-blue {
	background-color: var(--gg-bg-blue) !important;
}
/* .nav-link.active > a {
	margin-right: -15px !important;
	margin-left: -15px !important;
} */
.nav-link.active {
	color: var(--white) !important;
	border-bottom: 4px solid var(--light-blue) !important;
	/* margin: 0 auto !important; */
	/* margin: 0 15px; */
}
.nav-link.active:hover {
	color: var(--light-blue) !important;
}
.dropdown-menu {
	background-color: #2e78b7;
}
.dropdown-item {
	color: white !important;
}
.dropdown-item:hover {
	color: #1c4e78 !important;
}
.navbar {
	white-space: nowrap;
}
